/* BASIC RESET */
body {
  margin: 0;
  font-family: Arial;
}

/* HEADER */
header {
  background: #0f172a;
  padding: 20px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 40px;
  text-align: center;
}

.feature-box {
  background: #f1f5f9;
  padding: 20px;
  margin: 10px auto;
  width: 250px;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

footer {
  background: #0f172a;
  color: white;
  padding: 20px;
  text-align: center;
}
